/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
    background-image: url('./assets/header.png');
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(8, 8, 8, 0.351);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #451B41;
    }
}

body {
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(8, 8, 8, 0.351);
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #451B41;
        border-radius: 5px;
    }
}